 
 

</div>
<footer class="page-footer grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> Content</h5>
                <p class="grey-text text-lighten-4">this can you send the Mail <br/> <i>mrmrmr033@gmail.com</i></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/user/login">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Mahmoud Reda
            <a class="grey-text text-lighten-4 right" href="/">More Links</a>
            </div>
          </div>
        </footer>

 
  <!-- Compiled and minified JavaScript -->
<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
 <script >
    $(document).ready(function(){
            $(".button-collapse").sideNav();

           
            $('.slider').slider();

            // // Pause slider
            // $('.slider').slider('pause');
            // // Start slider
            // $('.slider').slider('start');
            // // Next slide
            // $('.slider').slider('next');
            // // Previous slide
            // $('.slider').slider('prev');

             $('.collapsible').collapsible();

    });
 </script>
 
 </body>
</html>