<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcom In Site Devolper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">        
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
 
  </head>
    <body>

        <div class="navbar-fixed">
            <nav class=" grey darken-2 ">
            <div class="nav-wrapper " style="margin: auto 1%;">
                <a href="/" class=" right brand-logo">Site News</a>
                      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/user/login">Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/user/login">Login</a></li>
                </ul>
            </div>
            </nav>
        </div>

        <div class="container  grey lighten-3" style=" min-height: 700px;padding:5px">
        
