<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcom In Site Devolper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">        
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet"  href="/css/style.css">

 <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>

</head>
<body>

        <div class="navbar-fixed">
            <nav class="blue darken-4 ">
            <div class="nav-wrapper " style="margin: auto 1%;">
                <a href="/admin/dashboard" class=" right brand-logo">Dashboard</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="left hide-on-med-and-down">
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/postes">Postes</a></li>
                <li><a href="/admin/commites">Commites</a></li>
                </ul>
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large red">
                    <i class="large material-icons">person</i>
                    </a>
                    <ul>
                    <li><a class="btn-floating red" href="/user/logout"><i class="material-icons">close</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">person_pin</i></a></li>
                    </ul>
                </div>
                <ul class="side-nav" id="mobile-demo">
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/postes">Postes</a></li>
                <li><a href="/admin/commites">Commites</a></li>
                <li><a href="/user/logout">Logout</a></li>
                </ul>
            </div>
            </nav>
        </div>

        <div class="container  grey lighten-3" style=" min-height: 700px;padding:5px">
        
