
<h3>Welcom In admin Page <%= username%></h3>

<div class="continar">
    <div class="row">
        <div class="col m12  blue darken-1  dash_c1" >
            <a class="waves-effect waves-light btn" href="/admin/users">Users</a>
        </div>
        <div class="col m12  blue darken-1  dash_c1" >
            <a class="waves-effect waves-light btn" href="/admin/postes">Postes</a>
        </div>
        <div class="col m12  blue darken-1  dash_c1" >
            <a class="waves-effect waves-light btn" href="/admin/commites">Commit</a>
        </div>
    </div>
</div>
</div>